body {
    background-image: url(../img/girl.jpg);
    background-size: cover;
    height: 100vh;
    background-position: top;
}

#main .soon{
    color: white;
    font-size: 60px;
}

#main .soon .soon-group{
    margin-top: 220px;
}
h4.modal-title{
    font-size: 30px;
    font-weight: 650;
    text-align: center;
    color: red;
    text-shadow: 2px 0 0 orange, -2px 0 0 orange, 0 2px 0 orange, 0 -2px 0 orange, 1px 1px orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange;
}
#myModal p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
button.nut-mo{
    position: absolute;
    top: 60%;
    left: 45%;
    color: #fff;
    text-align: center;
    padding: 12px 30px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 600;
    background: transparent;
    border: 3px solid #fff;
}
button.nut-mo:hover{
    color: red;
    background: yellow;
}